body{
  margin:0px;
  box-sizing: border-box;
  padding: 0px;
  font-size: 13px;
  color: #51284f;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}
a{
  color:#a50050;
  text-transform: uppercase;

}
a:hover{
  color: #1e0f1d;
  text-decoration: none;
}
/*Header*/
.container_title{
text-align: left;
text-transform: uppercase;
}
.title{
  font-size: 24px;
  color: #7b0b56;
  margin: 30px;
}
/*Main*/
.wrapper{
  margin: auto;
  padding: 20px 30px;
}
.container-main{
  display: flex;
  border-top: solid 1px #dddddd;
  align-items: flex-start;
}
.circle{
  font-size: 13px;
  width: 25px;
  height: 25px;
  background-color: #7b0b56;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 100%;
  margin-right: 10px;
}

/*section origen*/
.container-origen{
  border-right: solid 1px #dddddd;
  text-align: left;
  padding: 10px;
  flex-basis: 350px;
  height: 75vh;
}
.container-origen_title{
  display: flex;
  align-items: center;
}
.title-origen {
  font-size: 17px;
  color: #7b0b56;
  font-weight: inherit;
}
.container-origen_main{
  display: flex;
  flex-direction: column;
}
.origen-cuenta{
  display: flex;
}
.origen_main-iconoCuenta{
  margin-right: 10px;
}
.main-cuenta_title{
  font-size:13px;
  font-weight: bold;
  color:#51284f;
  margin-top:0px;
  margin-bottom: 5px;
}
.main-cuenta_number{
  font-size:13px;
  font-weight: bold;
  color: #999999;
  margin-top:0px;
  margin-bottom: 5px;
}
.main-cuenta_saldo{
  font-size:13px;
  color:#669200;
  margin-top:0px;
  margin-bottom: 5px;
}
.textSaldo{
  color:#51284f;
}
.container-origen_enlace{
  text-align: right;
}

/*section destino*/
.container-destino{
  border-right: solid 1px #dddddd;
  text-align: left;
  padding: 10px;
  flex-basis: 350px;
  height: 75vh;
}
.container-destino_title{
  display: flex;
  align-items: center;
  
}
.title-destino {
  font-size: 17px;
  color: #7b0b56;
  font-weight: inherit;
}
.list-destino{
  list-style: none;
  padding: 0px;
}
.list-destino_item{
  display: flex;
}
.destino_item-title{
  color:#51284f;
  margin-right: 50px;
  width: 70px;
}
.destino_item-info{
  font-weight: bold; 
  text-align: left;
}

.container-destino_enlace{
  text-align: right;
}
/*section datos*/
.container-datos{
  text-align: left;
  padding: 10px;

}
.container-datos_title{
  display: flex;
  align-items: center;
}
.title-datos {
  font-size: 17px;
  color: #7b0b56;
  font-weight: inherit;
}
.datos_main-importe{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.inputImporte {
  position: relative;
  color:#51284f;
  width: 100%;
}
.icono{
  position: absolute;
  right: 0px;
  top: 5px;

}
.datos_main-periodicidad{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.label-hora-trasferencia{
  display: flex;
}
.icono-informacion{
 border-radius: 100%;
 height: 15px;
 width: 15px;
 border:solid 1px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 10px;
 margin-left: 10px;
}
.datos_main-horatransferencia{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.datos_main-conceptoCO{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.datos_main-conceptoCD{
  display: flex;
  flex-direction: column;
}
.btn-submit-div{
  margin-top:10px;
}


.formulario-datos input[type="radio"]{
  display: none;
} 
.formulario-datos .inputRadio label{

  padding:5px 15px 5px 30px;
  display: inline-block;
  position: relative;
  font-size: 1em;
  border-radius: 3px;
  cursor: pointer;
} 

.formulario-datos .inputRadio label:before{
  content:"";
  width: 17px;
  height: 17px;
  display: inline-block;
  background:none;
  border:2px solid #ccc;
  border-radius:50%;
  position: absolute;
  left:0px;
  top: 4px;
}
.formulario-datos input[type="radio"]:checked +label:before{
  content: '✓';
  color: #669200;
  text-align: center;
  font-size: 15px;
  border:2px solid #669200;

}

.textArea{
  opacity: 0.5;
}
.textArea:focus{
  border-color: #66afe9;
}
.label{
  font-weight: bold;
  margin-bottom: 5px;
}
.label:focus{
  border-color: #66afe9;
}
.btn-submit-div{
  text-align: right;
}

.btn-submit{
  color: white;
  border-color:#8c0044;
  background-color:#a50050;

}
.btn-submit:hover{
  cursor: pointer;
  background-color:#720037;
  border-color:#4e0026
}
